* {
	padding: 0px;
	margin: 0px;
	font: 12px Helvetica Neue,Helvetica,Arial,Microsoft 
	Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,
	sans-serif;
	background-repeat: no-repeat;
}
body {
	height: 1000px;
	color: #000000;
}
a {
	text-decoration: none;
}
.clearfloat {
	clear: both;
}
li {
	list-style: none;
}
.bili-icon {
	display: inline-block;
	background-image: url(../img/icons.png);
}
#header {
	width: 100%;
	height: 170px;
	background-image: url(../img/30d45ce269948eae8ed650e5ce03a2ca463a5d77.png);
	background-position:center -10px;
	position: relative;
}

/*导航栏高斯模糊*/
#nav-gaosi {
	height: 42px;
	width: 100%;
	position: absolute;
	top: 0px;
	background-image: url(../img/30d45ce269948eae8ed650e5ce03a2ca463a5d77.png);
	background-position: center -10px;
	background-repeat: no-repeat;
	 -webkit-filter: blur(4px);
	filter: blur(4px);
}
#he-nav {
	position: relative;
	width: 100%;
	height: 42px;
	background-color: hsla(0,0%,100%,0.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	
}
#henav-art {
	width: 1160px;
	margin: 0px auto;
}

#nav-left {
	display: inline-block;
	margin-left: -12px;
}

/*导航栏字体设置*/
#nav-left a ,#nav-right a {
	color: #222;
	height: 42px;
	display: block;
	padding: 0 8px;
	position: relative;
	line-height: 42px;
}
#nav-left ul {
	float: left;
}
#nav-left li {
	float: left;
	height: 42px;
	transition: all 0.3s;
	/*background-color:hsla(0,0%,100%,0);*/
}

/*游戏弹出框*/
#nav-game {
	position: relative;
	transition: all 0.5s; 

}
#nav-game:hover #gamebox {
	display: block;
}

#gamebox {
	width: 466px;
	height: 256px;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    position: absolute;
    background: #fff;
	top: 42px;
	left: 0px;
	z-index: 50;
	display: none;
	transition: all 0.5s; 
}
#gb-left {
	width: 265px;
	margin: 12px 0 0 0 ;
	float: left;
}
#gbl-top {
	width: 240px;
	height: 128px;
	margin-left: 12px;
	position: relative;cursor: pointer;
}
#gbl-top a {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url(../img/ad8727d0ea1fd6baff9a2c5c9af445d2aa5bed1b.jpg);
	background-size: contain;
	border-radius: 4px;
	padding: 0 !important;
}
#gbl-top span {
	width: 220px;
    padding: 0 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    background: url(../img/shadow.png) repeat-x;
	display: inline-block;
	
}
#gbl-bottom {
	margin-top: 6px;
}
#gbl-bottom a {
	width: 64px;
    height: 104px;
    padding: 6px 12px 0;
    display: block;
    float: left;
}
#gbl-bottom img {
	width: 64px;
    height: 64px;
    border-radius: 12px;
}
#gbl-bottom span {
	width: 4em;
    height: 14px;
    margin: 8px auto;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #222;
	line-height: 1;
	margin-top: -5px;
}
#gb-right {
	width: 201px;
	height: 234px;
	margin: 12px 0 0 0;
	float: left;
	background: url(../img/line.png) no-repeat;
	position: relative;
}
#gbr-a {
	top: 8px;
	right: 13px;
    display: inline-block !important;
    position: absolute !important;
    font-size: 12px;
    color: #00a1d6 !important;
	padding: 0 !important;
	line-height: 14px !important;
	height: auto !important;
}
#gb-right ul {
	padding: 35px 0 0 6px;
	background: url(../img/title.png) no-repeat; 
	width: 195px;
}
#gb-right li {
	float: none !important;
	height: 28px !important;
}
#gb-right li  a {
	display: block;
	height: 28px !important;
	padding: 0 0 0 16px !important;
	font-size: 12px;
	line-height: 28px;
	color: #222222;
}
#gb-right li  a:hover {
	color: #00A1D6 !important;
	background-color: #E5E9EF !important;
}





#nav-left li:nth-child(1) a {
	padding-left: 34px;
	
}
#nav-left li:nth-child(9) a {
	padding-left: 26px;
}

/*导航栏图标设置*/
.nav-bicon {
	position: absolute;
	
}
#navicon-tv {
	background-position: -919px -88px;
	width: 17px;
	height: 14px;
	left: 12px;
	top: 12px;
}
#navicon-tel {
	background-position: -1371px -1175px;
	width: 16px;
	height: 21px;
	left: 10px;
	top: 11px;
}

/*导航栏hover效果*/
#nav-left li:hover,#nav-right li:hover {
	background-color:hsla(0,0%,100%,0.28) ;
}
#nrli-third a:hover {
	background-color:rgba(251,114,153,0.8);
}
#nrli-first:hover {
	background-color:hsla(0,0%,100%,0) !important ;
}

#nav-right {
	float: right;
	background-color:hsla(0,0%,100%,0) ;

}
#nav-right li {
	float: left;
}
#nrli-first {
	width:36px ;
	height: 36px;
	margin-top: 4px;
	padding-right: 11px;
	cursor: pointer;
	
}
#nrli-first img {
	border: 0 solid #fff;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
#nrli-third {
	text-align: center;
	height: 42px;
	width: 58px;
	margin-left: 8px;
}
#nrli-third a {
	padding: 0px;
	display: block;
	font-size: 14px;
	line-height: 42px;
	height: 48px;
	width: 100%;
	background-color: #fb7299;
	border-radius: 0 0 6px 6px;
	color: white;
	text-align: center;
	padding-left: 4.6px;
	box-sizing: border-box;
	letter-spacing: 4px;
}

#he-bisumer {
	width: 220px;
	height: 105px;
	left: 24px;
	top: 13px;
	background: transparent;
	position: absolute;
}
#he-bisumer img {
	width: 100%;
	height: 100%;
}
#he-bottom {
	width: 1160px;
	margin: 0 auto;
	height: 128px;
	position: relative;
}

#he-bo-paisou {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 338px;
	height: 32px;
    padding: 2px 2px 2px 2px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    z-index: 10;
}
#he-bo-pai {
	display: inline-block;
	width: 68px;
	height: 32px;
	line-height: 32px;
	background-color: hsla(0,0%,100%,.88);
    border-radius: 4px;
    width: 68px;
	transition: background-color .2s;
	color: #f25d8e;
	float: left;
}
#he-bo-pai:hover {
	background-color: #FFFFFF;
}
#he-bo-pai i {
	background-position: -659px -655px;
	width: 26px;
	height: 32px;
}
#he-bo-pai span {
	vertical-align: top;
	display: inline-block;
	line-height: 32px;
	margin-left: -3px;
}

#he-bo-sou {
	float: left;
	width: 268px;
	height: 32px;
	background-color: hsla(0,0%,100%,.88);
    display: block;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -o-transition: .2s background-color;
    transition: background-color .2s;
	margin-left: 2px;
	position: relative;
}
#he-bo-sou:hover {
	background-color: #FFFFFF;
}
#he-bo-sou input {
	height: 32px;
	border: none;
	width: 200px;
	color: #222;
	font-size: 12px;
	padding: 0 12px;
	background-color: transparent;
	line-height: 30px;
	outline: none;
}
#he-bo-sou button {
	cursor: pointer;
	background-position: -653px -720px;
	width: 46px;
	height: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color:transparent ;
	border: none;
	
}
#he-bo-sou button:hover {
	background-position: -718px -720px;
	
}

main {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 30px;
	position: relative;
}
#nav {
	width: 1160px;
	
}
#nav-top {
	width: 100%;
	height:50px ;
	padding: 8px 0 0;
	margin-bottom: 4px;
	border-bottom: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	
}
#natop-1 {
	float: left;
}
#natop-1>li {
	float: left;
	height: 50px;
	display: -webkit-flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width:32px;
	padding: 0 8px;
	margin-right: 11px;
	cursor: pointer;
}
#natop1-li1 .bili-icon {
	background-position: -660px -1175px;
	width: 24px;
	height: 18px;
	margin-top: -5px;
}
#natop1-li1 {
	padding: 0px !important;
	margin-right: 18px !important;
	width: 24px !important;
}
#natop-li15 {
	width: 36px !important;
	padding-left: 6px !important;
}

#natop-1>li>div {
	color: #222222;
	font-size: 12px;
}
#natop-1>li>span {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #ffafc9;
	border-radius: 3px;
	height: 12px;
	padding: 1px 3px;
	font-family: sans-serif;
	transform: scale(0.85);
	line-height: 14px;
	margin: -2px 0 2px 0;
}
#natop-2 {
	float: left;
}
#natop-2 li {
	float: left;
	display: -webkit-flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	width: 40px;
	margin: 3px 8px 0 4px;
	cursor: pointer;
	transition: all 0.2s;
}
#natop-2 li:hover {
	color:#0CA5D9 ;
}
#natop-2>li i {
	width: 18px;
	height: 18px;
	margin-bottom: 2px;
}
#natop-2>li:nth-child(1) i {
	background-position: -87px -1814px;
}
#natop-2>li:nth-child(2) i {
	background-position: -87px -2006px;
}
#natop-2>li:nth-child(3) i {
	background-position: -87px -1878px;
}
#natop-2>li:nth-child(4) i {
	background-position: -87px -1942px;
}
#natop-3 {
	float: left;
	width: 69px;
	height: 40px;
	margin-top: 7px;
	cursor: pointer;
}
#natop-3 img {
	width: 100%;
	height: 100%;
}


#nav-bottom {
	width: 100%;
	padding-bottom: 40px;
}
/*轮播图部分*/
#nab-left {
	width: 440px;
	height: 220px;
	float: left;
	border-radius: 4px;
	position: relative;
	background-color: #ccc;
}

#lunbo {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#lunbo ul {
	list-style: none;
	animation: ani 30s  infinite alternate;
	height: 100%;
	overflow: hidden;
	width: 2200px;
	position: relative;
}
#lunbo ul li {
	float: left;
	width: 440px;
	height: 220px;
	display: inline-block;
}
#lunbo li img {
	display: block;
	width: 100%;
	height: 100%;
}
@keyframes ani {
    0% {
        left: 0;
    }
	19% {
		left: 0;

	}
    20% {
        left: -440px;
    }
	39% {
		left: -440px;
	}
		
    40% {
        left: -880px;
    }
	59% {
		left: -880px;
	}
    60% {
        left: -1320px;
    }
	79% {
		left: -1320px;
	}
	
    80% {
        left: -1760px;
    }
	100% {
		left: -1760px;
	}
}


/*导航下部右边部分*/
#nab-right {
	height: 220px;
	position: relative;
	display: -webkit-flex;
	justify-content: flex-end;
	align-content: space-between;
	flex-wrap: wrap;
}
#nab-right>div {
	background-color:#FFFFFF;
	width: 160px;
	height: 100px;
	border-radius: 4px;
	margin-left: 20px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
#nab-right>div:hover .nbrd-card {
	top: 0px;
	overflow: visible;
	height: 80px;
	background: none;
	background-color: rgba(0,0,0,0.8);
}
#nab-right>div:nth-child(1) {
	background-image:url(../img/nab-right1.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(2) {
	background-image:url(../img/nab-right2.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(3) {
	background-image:url(../img/nab-right3.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(4) {
	background-image:url(../img/nab-right4.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(5) {
	background-image:url(../img/nab-right5.png) ;
	background-size: contain;
}
#nab-right>div:nth-child(6) {
	background-image:url(../img/nab-right6.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(7) {
	background-image:url(../img/nab-right7.jpg) ;
	background-size: contain;
}
#nab-right>div:nth-child(8) {
	background-image:url(../img/nab-right8.jpg) ;
	background-size: contain;
}
.nbrd-card {
	position: absolute;
	left: 0;
	top: 68px;
	width: 150px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	padding: 10px 5px;
	overflow: hidden;
	transition: all 0.05s;
	background-color: #000000;
	background: linear-gradient(transparent,rgba(0,0,0,.1) 20%,
	rgba(0,0,0,.2) 35%,rgba(0,0,0,.6) 65%,rgba(0,0,0,.9));
}
.ca-title {
	color: #FFFFFF;
	height: 40px;
	overflow: hidden;
	margin-bottom: 5px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 20px;
}
.ca-author, .ca-play {
	color: #99a2aa;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	transition: all 0.6s; 
}

/*板块统一样式设计*/
.bankuai-left {
	float: left;
	width: 900px;
}
.headline {
	padding: 0 0 15px;
}
.headline>i {
	width: 40px;
	height: 35px;
	margin-right: 10px;
	float: left;
	display: inline-block;
}
.headline>div:nth-of-type(1) {
	display: inline-block;
	float: left;
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	margin-right: 20px;
	height: 30px;
	transition: color 0.3s; 
}
.bkle-bottom {
	width: 880px;
	display: -webkit-flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	cursor: pointer;
}
.bkle-bottom>div {
	width: 160px;
	height: 148px;
	font-size: 12px;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 20px;
	/*background-color: #CCCCCC;*/
}
.bkleb-top {
	width: 160px;
	height: 100px;
	background-position: center;
	background-size: cover;
	border-radius: 4px;
	position: relative;
	background-color: black;
	transition: background-image 0.1s;
	
}
.bkleb-top:hover {
	background-size: cover;
	background-position: center;
}
.bkleb-bottom {
	padding-top: 8px;
    height: 40px;
    line-height: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}
/*推广*/
.santi {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: relative;
	transition: all 0.3s; 
	display: none;
}
.bkleb-top:hover .santi {
	display: block;
}
.time {
	position: absolute;
	left: 6px;
	color: #fff;
	height: 12px;
	line-height: 12px;
	padding: 0 5px 1px 0;
	bottom: 2px;
}
.wait {
	width: 22px;
    height: 22px;
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
	background-image: url(../img/shaohoukan.png);
}

#tuiguang {
	width: 100%;
}
#tgl-top i {
	background-position: -141px -75px;
}
#tglb-d1top {
	background-image:url("../img/tg1.webp")
}
#tglb-d2top {
	background-image: url("../img/tg2.webp");
}
#tglb-d3top {
	background-image: url("../img/tg3.webp");
}
#tglb-d4top {
	background-image: url("../img/tg4.webp");
}
#tglb-d5top {
	background-image: url("../img/tg5.webp");
}
#tg-right {
	width: 260px;
	float: right;
}
#tgr-top {
	margin-top: 4px;
	position: relative;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    border-radius: 4px;
    text-align: center;
    background: #e5e9ef;
	color: #6d757a;
}
#tgr-top span {
	height: 34px;
	line-height: 34px;
	transition: all 0.2s; 
	cursor: pointer;
}
#tgr-top span:hover {
	color:#0DB6E9;
}
#tgr-top i {
	color: #b8c0cc;
	font-size: 10px;
	line-height: 10px;
	margin: 12px 10px;
	display: inline-block;
}
#tgr-bottom {
	cursor: pointer;
	margin-top: 10px;
	border-radius: 4px;
	overflow: hidden;
	width: 260px;
	height: 150px;
	position: relative;
	background-image: url(../img/dd76b32e40e9f80f0387319210d4420a4a4fd854.png);
}

/*广告横幅统一样式*/
.ad {
	margin-top: 15px;
	margin-bottom: 20px;
	position: relative;
	height: 98px;
	width: 1160px;
	border-radius: 5px;
	background-size: contain;
}
.ad img {
	position: absolute;
	bottom:2px;
	left:2px;
}


#tg-bottom {
	background-image: url(../img/45dfb04981c1cfc75acdec014d782ba2.jpg);
	cursor: pointer;
}

/*直播板块*/
#zbl-top>i {
	background-position: -139px -652px;
}
.bktitle {
	cursor: pointer;
	transition: color 0.3s;
}
.bktitle:hover {
	color: #0DB6E9;
}
#allzb {
	float: left;
	margin-top: 16px;
	color: #99a2aa;
}
#allzb span {
	color: #00A1D6;
}
#zhenjing {
	cursor: pointer;
	margin-top: 16px;
	margin-left: 40px;
	padding-right: 10px;
	float: left;
}
#zhenjing a {
	color:#6d757a;
}
#zhenjing i {
	width: 14px;
	height: 14px;
	background-position: -665px -1113px;
}

/*共有多少动态和更多按钮样式*/
.tong-more {
	float: right;
	margin-top: 12px;
	margin-right: 20px;
}
.dongtai {
	float: left;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    height: 22px;
    padding: 0 10px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.dongtai i {
	display: inline-block;
    width: 12px;
    height: 13px;
    vertical-align: top;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 5px;
    background-position: -475px -89px
}
.dongtai span {
	display: inline-block;
    vertical-align: top;
    line-height: 22px;
    margin-left: 5px;
}
.more {
	float: left;
	width: 52px;
    height: 22px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #ccd0d7;
    color: #555;
    border-radius: 4px;
    text-align: center;
    margin: 0 0 0 10px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.more i {
	display: inline-block;
    background-position: -478px -218px;
    width: 6px;
    height: 12px;
    margin: -2px 0 0;
    vertical-align: middle;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

/*直播推荐*/
#zblb-d1top {
	background-image: url(../img/zb1.webp);
	/*position: relative;*/
}
#zblb-d2top {
	background-image: url(../img/zb2.webp);
}
#zblb-d3top {
	background-image: url(../img/zb3.webp);
}
#zblb-d4top {
	background-image: url(../img/zb4.webp);
}
#zblb-d5top {
	background-image: url(../img/zb5.webp);
}
#zblb-d6top {
	background-image: url(../img/zb6.webp);
}
#zblb-d7top {
	background-image: url(../img/zb7.webp);
}
#zblb-d8top {
	background-image: url(../img/zb8.webp);
}
#zblb-d9top {
	background-image: url(../img/zb9.webp);
}
#zblb-d10top {
	background-image: url(../img/zb10.webp);
}

/*hover效果*/
#zbl-bottom>div>div:nth-child(1):hover div{
	display: none;
}
#zblb-d1top:hover {
	background-image: url(../img/zbh1.webp);
}
#zblb-d2top:hover {
	background-image: url(../img/zbh2.webp);
}
#zblb-d3top:hover {
	background-image: url(../img/zbh3.webp);
	background-size: contain !important;
}
#zblb-d4top:hover {
	background-image: url(../img/zbh4.webp);
}
#zblb-d5top:hover {
	background-image: url(../img/zbh5.webp);
}
#zblb-d6top:hover {
	background-image: url(../img/zbh6.webp);
}
#zblb-d7top:hover {
	background-image: url(../img/zbh7.webp);
}
#zblb-d8top:hover {
	background-image: url(../img/zbh8.webp);
}
#zblb-d9top:hover {
	background-image: url(../img/zbh9.webp);
}
#zblb-d10top:hover {
	background-image: url(../img/zbh10.webp);
}


/*动画*/
.donghuaicon {
	background-position: -141px -908px;
}

.name ,.people {
	line-height: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    vertical-align: bottom;
    position: absolute;
    color: #fff;
    font-weight: 200;
}
.name {
	bottom: 0px;
	left: 4px;
}
.people {
	bottom: 0px;
	right: 4px;
}
.people i {
	background-image: url(../img/people.png);
	width: 13px;
	height: 10px;
	vertical-align: baseline;
	margin-right: 2px;
	display: inline-block;
}
#zb-right {
	width: 260px;
	float: right;
	margin-top: 13px;
} 
.zbrt-tab {
	float: left;
	position: relative;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	padding: 1px 0 2px;
	border-bottom:1px solid transparent ;
	transition: all 0.2s;
	margin-left: 12px;
}
#tab-paihang {
	color: #00A1D6;
	border-color: #00A1D6;
	margin-left: 0px !important;
}
#tab-paihang::before {
	content: "";
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: 0;
    width: 0;
    height: 0;
    border: 3px dashed #00a1d6;
    border-bottom-style: solid;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.zbr-bottom {
	margin-top: 20px;
	overflow: hidden;
	width: 260px;
	transition: all 0.2s; 
}
.zbrb-list {
	padding-left: 25px;
	position: relative;
	margin: 0 0 14px;
}
.number {
	background-color: #b8c0cc;
	position: absolute;
	color: #FFFFFF;
	height: 18px;
	line-height: 18px;
    top: 0;
    left: 0;
    font-size: 12px;
    min-width: 12px;
    text-align: center;
    z-index: 20;
    border-radius: 4px;
    padding: 0 3px;
    font-weight: bolder;
    float: left;
    margin-right: 6px;
}
.zbrb-list:nth-child(1)>span,.zbrb-list:nth-child(2)>span,.zbrb-list:nth-child(3)>span {
	background-color: #F25D8E;

}
.touxiang {
	display: block;
	float: left;
	position: relative;
	margin-right: 12px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-size: cover;
}
.touxiang1 {
	background-image: url(../img/touxiang1.webp);
}
.touxiang2 {
	background-image: url(../img/touxiang2.webp);
}
.touxiang3 {
	background-image: url(../img/touxiang3.webp);
}
.touxiang4 {
	background-image: url(../img/touxiang4.webp);
}
.touxiang5 {
	background-image: url(../img/touxiang5.webp);
}
.touxiang6 {
	background-image: url(../img/touxiang6.webp);
}
.jieshao {
	width: 180px;
	float: left;
	transition: all 0.2s;
}
.jieshao:hover .js-title{
	color: #00A1D6;
}
.js-top {
	line-height: 16px;
}
.js-top span:nth-child(1) {
	float: left;
	color: #222222;
	line-height: 16px;
}
.js-top span:nth-child(2) {
	float: right;
	color: #99A2AA;
	line-height: 16px;
	cursor: pointer;
}
.js-top span:nth-child(2) i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-image: url(../img/播放数.png);
	vertical-align: top;
	margin-top: 1px;
	margin-right: 3px;
}

.js-title {
    margin-top: 4px;
    color: #99a2aa;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/*底部*/
footer {
	width: 100%;
	background-color: #F5F9FA;
	padding-bottom: 20px;
}
footer img {
	display: block;
	width: 1140px;
	height: 291px;
	margin: 10px auto;
}
	
/*侧导航栏*/
#cedaohang {
    position: fixed;
	/*position: absolute;*/
	top: 233px;
    right: 37px;
    height: 100%;
    padding-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    transition: all .3s ;
}

#cdh-ul {
    position: relative;
    background-color: #f6f9fa;
    border: 1px solid #e5e9ef;
    overflow: hidden;
    border-radius: 4px;
}
#cdh-ul>li>a {
	width: 48px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	display: block;
	color: #000;
	transition: all 0.2s;
}
#cdh-ul>li>a:hover {
	background-color: #00A1D6;
	color: #fff;
}
#paixu a:hover i {
	background-position: -727px -151px;
}
#paixu a {
	height:50px !important;
	padding: 8px 0 3px;
}
#paixu i {

	background-position: -663px -151px;
	height: 18px;
	width: 18px;
	margin: 0 auto 4px;
	display: block;
}
#bozi {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 9px;
	width: 30px;
	margin: 0 auto;
	background: hsla(0, 0%, 100%, .8);
	background-color: #f6f9fa;
}
#totop a {
	width: 48px;
	line-height: 32px;
	height:48px ;
	text-align: center;
	transition: all 0.3s;
	cursor: pointer;
	display: block;
	color: #000;
	transition: all 0.2s;
	background: hsla(0, 0%, 100%, .8);
	background-color: #f6f9fa;
	border: 1px solid #e5e9ef;
	border-radius: 4px;
}
#totop i {
	background-position: -649px -72px;
	width: 48px;
	height: 48px;
}
#totop a:hover i {
	background-color: #00a1d6;
    background-position: -714px -72px;
    border-color: #00a1d6;
}