* {
	padding: 0px;
	margin: 0px;
	font: 12px Helvetica Neue,Helvetica,Arial,Microsoft 
	Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,
	sans-serif;
	background-repeat: no-repeat;
}
body {
	height: 1000px;
}
a {
	text-decoration: none;
}
.clearfloat {
	clear: both;
}
li {
	list-style: none;
}
.bili-icon {
	display: inline-block;
	background-image: url(../img/icons.png);
}
#header {
	width: 100%;
	height: 170px;
	background-image: url(../img/30d45ce269948eae8ed650e5ce03a2ca463a5d77.png);
	background-position:center -10px;
	position: relative;
}

/*导航栏高斯模糊*/
#nav-gaosi {
	height: 42px;
	width: 100%;
	position: absolute;
	top: 0px;
	background-image: url(../img/30d45ce269948eae8ed650e5ce03a2ca463a5d77.png);
	background-position: center -10px;
	background-repeat: no-repeat;
	 -webkit-filter: blur(4px);
	filter: blur(4px);
}
#he-nav {
	position: relative;
	width: 100%;
	height: 42px;
	background-color: hsla(0,0%,100%,0.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	color: #333;
	
}
#henav-art {
	width: 1160px;
	margin: 0px auto;
}

#nav-left {
	display: inline-block;
	margin-left: -12px;
}

/*导航栏字体设置*/
#nav-left a ,#nav-right a {
	color: #222;
	height: 42px;
	display: block;
	padding: 0 8px;
	position: relative;
	line-height: 42px;
}
#nav-left ul {
	float: left;
}
#nav-left li {
	float: left;
	height: 42px;
	transition: all 0.3s;
	/*background-color:hsla(0,0%,100%,0);*/
}

/*游戏弹出框*/
#nav-game {
	position: relative;
}
#gamebox {
	width: 466px;
	height: 256px;
	border-radius: 0 0 4px 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    position: absolute;
    background: #fff;
	top: 42px;
	left: 0px;
	z-index: 50;
}
#gb-left {
	width: 265px;
	margin: 12px 0 0 0 ;
	float: left;
}
#gbl-top {
	width: 240px;
	height: 128px;
	margin-left: 12px;
	position: relative;cursor: pointer;
}
#gbl-top a {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-image: url(../img/ad8727d0ea1fd6baff9a2c5c9af445d2aa5bed1b.jpg);
	background-size: contain;
	border-radius: 4px;
	padding: 0 !important;
}
#gbl-top span {
	width: 220px;
    padding: 0 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 30px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
    background: url(../img/shadow.png) repeat-x;
	display: inline-block;
	
}
#gbl-bottom {
	margin-top: 6px;
}
#gbl-bottom a {
	width: 64px;
    height: 104px;
    padding: 6px 12px 0;
    display: block;
    float: left;
}
#gbl-bottom img {
	width: 64px;
    height: 64px;
    border-radius: 12px;
}
#gbl-bottom span {
	width: 4em;
    height: 14px;
    margin: 8px auto;
    display: block;
    font-size: 14px;
    text-align: center;
    color: #222;
	line-height: 1;
	margin-top: -5px;
}
#gb-right {
	width: 201px;
	height: 234px;
	margin: 12px 0 0 0;
	float: left;
	background: url(../img/line.png) no-repeat;
	position: relative;
}
#gbr-a {
	top: 8px;
	right: 13px;
    display: inline-block !important;
    position: absolute !important;
    font-size: 12px;
    color: #00a1d6 !important;
	padding: 0 !important;
	line-height: 14px !important;
	height: auto !important;
}
#gb-right ul {
	padding: 35px 0 0 6px;
	background: url(../img/title.png) no-repeat; 
	width: 195px;
}
#gb-right li {
	float: none !important;
	height: 28px !important;
}
#gb-right li  a {
	display: block;
	height: 28px !important;
	padding: 0 0 0 16px !important;
	font-size: 12px;
	line-height: 28px;
	color: #222222;
}
#gb-right li  a:hover {
	color: #00A1D6 !important;
	background-color: #E5E9EF !important;
}





#nav-left li:nth-child(1) a {
	padding-left: 34px;
	
}
#nav-left li:nth-child(9) a {
	padding-left: 26px;
}

/*导航栏图标设置*/
.nav-bicon {
	position: absolute;
	
}
#navicon-tv {
	background-position: -919px -88px;
	width: 17px;
	height: 14px;
	left: 12px;
	top: 12px;
}
#navicon-tel {
	background-position: -1371px -1175px;
	width: 16px;
	height: 21px;
	left: 10px;
	top: 11px;
}

/*导航栏hover效果*/
#nav-left li:hover,#nav-right li:hover {
	background-color:hsla(0,0%,100%,0.28) ;
}
#nrli-third a:hover {
	background-color:rgba(251,114,153,0.8);
}
#nrli-first:hover {
	background-color:hsla(0,0%,100%,0) !important ;
}

#nav-right {
	float: right;
	background-color:hsla(0,0%,100%,0) ;

}
#nav-right li {
	float: left;
}
#nrli-first {
	width:36px ;
	height: 36px;
	margin-top: 4px;
	padding-right: 11px;
	cursor: pointer;
	
}
#nrli-first img {
	border: 0 solid #fff;
	width: 36px;
	height: 36px;
	border-radius: 50%;
}
#nrli-third {
	text-align: center;
	height: 42px;
	width: 58px;
	margin-left: 8px;
}
#nrli-third a {
	padding: 0px;
	display: block;
	font-size: 14px;
	line-height: 42px;
	height: 48px;
	width: 100%;
	background-color: #fb7299;
	border-radius: 0 0 6px 6px;
	color: white;
	text-align: center;
	padding-left: 4.6px;
	box-sizing: border-box;
	letter-spacing: 4px;
}

#he-bisumer {
	width: 220px;
	height: 105px;
	left: 24px;
	top: 13px;
	background: transparent;
	position: absolute;
}
#he-bisumer img {
	width: 100%;
	height: 100%;
}
#he-bottom {
	width: 1160px;
	margin: 0 auto;
	height: 128px;
	position: relative;
}

#he-bo-paisou {
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 338px;
	height: 32px;
    padding: 2px 2px 2px 2px;
    background-color: #e5e9ef;
    background-color: rgba(0,0,0,.12);
    border-radius: 6px;
    font-size: 12px;
    z-index: 10;
}
#he-bo-pai {
	display: inline-block;
	width: 68px;
	height: 32px;
	line-height: 32px;
	background-color: hsla(0,0%,100%,.88);
    border-radius: 4px;
    width: 68px;
	transition: background-color .2s;
	color: #f25d8e;
	float: left;
}
#he-bo-pai:hover {
	background-color: #FFFFFF;
}
#he-bo-pai i {
	background-position: -659px -655px;
	width: 26px;
	height: 32px;
}
#he-bo-pai span {
	vertical-align: top;
	display: inline-block;
	line-height: 32px;
	margin-left: -3px;
}

#he-bo-sou {
	float: left;
	width: 268px;
	height: 32px;
	background-color: hsla(0,0%,100%,.88);
    display: block;
    border-radius: 4px;
    -webkit-transition: background-color .2s;
    -o-transition: .2s background-color;
    transition: background-color .2s;
	margin-left: 2px;
	position: relative;
}
#he-bo-sou:hover {
	background-color: #FFFFFF;
}
#he-bo-sou input {
	height: 32px;
	border: none;
	width: 200px;
	color: #222;
	font-size: 12px;
	padding: 0 12px;
	background-color: transparent;
	line-height: 30px;
	outline: none;
}
#he-bo-sou button {
	cursor: pointer;
	background-position: -653px -720px;
	width: 46px;
	height: 32px;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color:transparent ;
	border: none;
	
}
#he-bo-sou button:hover {
	background-position: -718px -720px;
	
}